$web-black: #3B3D3B;
$web-blue: #00B2FF;
$web-green: #4CB63B;

$trs-black: #2e302e;
$trs-light-green: #AFE47E;
$trs-dark-green: #477561;

$clark-black: #666;
$clark-blue: #4FB0CD;
$clark-green: #2F6E61;