// @import "../utils/variables";

*,
*::before,
*::after {
    @include box-sizing(border-box);
}

.mkt-landing {
	position: relative;
	top: 0;
	background: #fff;

	@media screen and (min-width: 946px){
		margin-top: -28px;
	}
}

.mkt-container {
	position: relative;
	padding: 0 20px;
	z-index: 2;

	@media screen and (min-width: 768px){
		& {
			margin: 0 auto;
			max-width: 890px;
		}
	}
	@media screen and (min-width: 946px){
		& {
			padding: 0 15px;
			max-width: 916px;
		}
	}
	@media screen and (min-width: 1024px){
		& {
			padding: 0 10px;
			max-width: 974px;
		}
	}
	@media screen and (min-width: 1100px){
		& {
			padding: 0 40px;
			max-width: 1200px;
		}
	}
	@media screen and (min-width: 1440px){
		& {
			padding: 0 7%;
			max-width: 1920px;
		}
	}
	//fix for iPhone X
	@media (width: 812px) and (orientation: landscape) {
        & {
            padding-left: constant(safe-area-inset-left) !important;
            padding-right: constant(safe-area-inset-right) !important;
        }
	}

	.mkt-container__inner {
		display: block;
		position: relative;
		border-radius: 4px;
		background: #fff;

		@media screen and (min-width: 946px){
			border-radius: 0;
			background: none;
		}

		@media screen and (min-width: 1440px){
			padding: 0 160px;
		}

		&.mkt-container__inner--cards {
			margin: 90px 0 0;
			box-shadow:  0 8px 20px rgba(0,0,0,0.17);

			@media screen and (min-width: 946px){
				display: flex;
				box-shadow: none;
			}
		}

		&.mkt-container__inner--faq {
			margin: 20px 0 0;
	
			@media screen and (min-width: 946px){
				display: grid;
				box-shadow: none;
			}
		}
	}
}

.mkt-hero {
	position: absolute;
	overflow: hidden;
	top: 0;
	width: 100%;
	height: 600px;
	background: linear-gradient(-135deg, $web-green, $web-blue);

	.theme--trs & {
		background: linear-gradient(-135deg, $trs-light-green, $trs-dark-green);
	}

	.theme--clark & {
		background: linear-gradient(-135deg, $clark-blue, $clark-green);
	}

	.mkt-hero__svg {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 7vw;
		fill: #fff;
	}

	.mkt-hero__bg {
		width: 100%;
		height: 100%;
		background-image: url(../src/images/hero-bg-mobile.png);
		background-size: cover;
		background-position: center;

		.theme--trs & {
			background-image: url(../src/images/hero-bg-mobile-trs.png);
		}

		.theme--clark & {
			background-image: url(../src/images/hero-bg-mobile-clark.png);
		}

		@media screen and (min-width: 1100px){
			background-image: url(../src/images/hero-bg-desktop.png);

			.theme--trs & {
				background-image: url(../src/images/hero-bg-desktop-trs.png);
			}

			.theme--clark & {
				background-image: url(../src/images/hero-bg-desktop-clark.png);
			}
		}
	}
}

.mkt-hero__container {
	padding: 0;
	margin: 0 auto;
	text-align: center;

	@media screen and (min-width: 1100px){
		margin: 0;
		text-align: left;
	}

	@media screen and (min-width: 1440px){
		padding: 0 160px;
	}

	.mkt-hero__logo {
		padding: 45px 0 0;
		width: 150px;
	
		@media screen and (min-width: 768px){
			padding: 90px 0 0;
			width: 270px;
		}
	
		@media screen and (min-width: 1440px){
			padding: 115px 0 0;
		}
	}

	.mkt-hero__headline {
		padding:15px 0 10px;
		margin: 0;
		color:#fff;
		text-align: center;
		font-size: 26px;
		line-height: 1;
	
		@media screen and (min-width: 768px){
			font-size: 44px;
		}
	
		@media screen and (min-width: 1100px){
			text-align: left;
			font-size: 56px;
		}
	
		&.mkt-hero__headline--small  {
			padding: 0;
			font-size: 24px;
			font-weight: normal;
	
			@media screen and (min-width: 768px){
				font-size: 32xp;
			}
		}
	}
}

.mkt-highlight {
	font-weight: bold;
	color: $web-green;

	.theme--trs & {
		color: $trs-dark-green;
	}

	.theme--clark & {
		color: $clark-green;
	}
}

.mkt-title {
	font-size: 20px;
	line-height: 1;
	font-weight: bold;
	
	&.mkt-title--large {
		padding: 60px 0 0;
		font-size: 30px;
		text-align: center;

		@media screen and (min-width: 946px){
			padding: 110px 0 0;
		}
	}

	&.mkt-title--faq {
		padding: 60px 0 20px;
		font-size: 30px;
		text-align: center;

		@media screen and (min-width: 946px){
			padding: 110px 0 20px;
		}
	}
}

.mkt-copy {
	margin: 10px 0 0;
	font-size: 20px;
	line-height: 1.4;
}

.mkt-link {
	display: inline-block;
	margin: 15px 0 0;
	font-size: 20px;
	font-weight: bold;
	color: $web-green;
	text-decoration: none;
	transition: .25s ease;

	.theme--trs & {
		color: $trs-dark-green;
	}

	.theme--clark & {
		color: $clark-green;
	}

	&:hover {
		color: $web-green;

		.theme--trs & {
			color: $trs-dark-green;
		}

		.theme--clark & {
			color: $clark-green;
		}

		.fas {
			margin-left: 5px;
		}
	}

	.fas {
		font-size: 16px;
		transition: .25s ease;
	}
}

.mkt-button {
	display: inline-block;
	padding: 15px 30px;
	border-radius: 4px;
	font-weight: 600;
	line-height: 1;
	text-decoration: none;
	color: #fff;
	box-shadow:  0 2px 2px rgba(0,0,0,0.17);
	background: linear-gradient(90deg, $web-green, #32b47d);
	transition: .25s ease;

	.theme--trs & {
		background: linear-gradient(90deg, #619980, $trs-dark-green);
	}

	.theme--clark & {
		background: linear-gradient(90deg, #76DAF8, $clark-blue);
	}

	&.mkt-button--white {
		padding: 20px 60px;
		margin: 25px auto 0;
		font-size: 20px;
		color: $web-blue;
		box-shadow:  0 2px 5px rgba(0,0,0,0.17);
		background: #fff;

		.theme--trs & {
			color: $trs-dark-green;
		}

		.theme--clark & {
			color: $clark-green;
		}

		@media screen and (min-width: 768px){
			margin: 45px auto 0;
		}

		&:hover {
			box-shadow:  0 8px 20px rgba(0,0,0,0.17);
		}
	}
}

.mkt-card {
	position: relative;
	padding: 0 25px 35px;
	margin: 0;
	z-index: 2;
	flex: 0;
	border-bottom: 1px solid #dbdbdb;
	text-align: center;
 
	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
		padding-bottom: 0;
		border: 0;
	}

	@media screen and (min-width: 946px){
		padding: 0 25px 35px;
		margin: 0 12px;
		z-index: 2;
		flex: 1;
		background: #fff;
		border-radius: 4px;
		box-shadow:  0 8px 20px rgba(0,0,0,0.17);
		border: none;
	}

	.mkt-title {
		padding: 75px 0 0;

		@media screen and (min-width: 946px){
			padding: 0;
		}
	}

	.mkt-copy {
		padding: 0 0 40px;

		@media screen and (min-width: 946px){
			padding: 0;
		}
	}
}

.mkt-icon {
	position: absolute;
	left: 50%;
	margin: 0 0 0 -45px;
	height: 90px;
	width: 90px;
	border-radius: 45px;
	text-align: center;
	background: linear-gradient($web-green, #32b47d);
	box-shadow:  0 8px 20px rgba(0,0,0,0.17);

	.theme--trs & {
		background: linear-gradient(#619980, $trs-dark-green);
	}

	.theme--clark & {
		background: linear-gradient(#76DAF8, $clark-blue);
	}

	@media screen and (min-width: 946px){
		position: relative;
		left: auto;
		margin: 0 auto 25px;
	}

	&.mkt-icon--tucked {
		margin-top: -45px;
	}

	.mkt-icon__img {
		padding: 18px 0 0;
		width: 54px;
		text-align: center;
	}
}

.mkt-quote {
	display: block;
	padding: 40px 30px 30px;
	margin: 60px 0 0;
	width: 100%;
	border-radius: 8px;
	border: 4px solid #7fd8ff;

	.theme--trs & {
		border-color: #a2b9af;
	}

	.theme--clark & {
		border-color: #96B6AF;
	}

	@media screen and (min-width: 768px){
		padding: 55px 40px 50px;
		border-radius: 16px;
	}

	@media screen and (min-width: 1024px){
		padding: 70px 100px;
		margin: 115px 0 0;
	}

	.mkt-quote__icon {
		position: absolute;
		top: 0;
		left: 50%;
		margin: -20px 0 0 -55px;
		padding: 0 30px;
		background: #fff;

		@media screen and (min-width: 768px){
			margin: -20px 0 0 -65px;
		}

		.mkt-quote__img {
			width: 50px;
			height: auto;

			@media screen and (min-width: 768px){
				width: 70px;
			}
		}
	}
	
	.mkt-quote__copy {
		position: relative;
		text-align: center;
		font-size: 24px;
		line-height: 1.5;

		@media screen and (min-width: 768px){
			font-size: 30px;
		}
	}
}

.mkt-quote__name {
	margin: 20px 0 0;
	font-size: 20px;
	text-align: center;

	@media screen and (min-width: 768px){
		margin: -4px 40px 0 0;
		font-size: 24px;
		text-align: right;
	}

	.mkt-quote__img {
		display: none;
		vertical-align: unset;

		@media screen and (min-width: 768px){
			display: inline-block;
			width: 60px;
			height: auto;
			margin: 0 40px 0 0;
		}
	}
}

.mkt-brands {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 18px;
	margin: 40px 0 30px;
	overflow-x: auto;

	@media screen and (min-width: 1440px){
		padding: 18px 64px;
		margin: 20px 0 70px;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	.mkt-brands__img {
		display: block;
		width: auto;
		height: 90px;
		margin: 0 auto;
	}
}

.mkt__arrow {
		position: absolute;
		z-index: 2;
		top: 0;

	&.mkt__arrow--left {
		padding: 35px 30px 35px 0;
		left: 0;
		background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%); 
		
		@media screen and (min-width: 1440px){
			padding: 35px 90px 35px 0;
			left: 160px;
		}
	}
	
	&.mkt__arrow--right {
		padding: 35px 0 35px 30px;
		right: 0;
		background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%); 
		
		@media screen and (min-width: 1440px){
			padding: 35px 0 35px 90px;
			right: 160px;
		}
	}
	
	.fas {
		font-size: 48px;
	}
	
}

.mkt-featured {
	display: none;

	@media screen and (min-width: 946px){
		display: block;
		position: absolute;
		z-index: 1;
		margin: -777px 0 0;
		width: 100%;
		height: 777px;
		background: linear-gradient(-135deg, $web-green, $web-blue);

		.theme--trs & {
			background: linear-gradient(-135deg, $trs-light-green, $trs-dark-green);
		}

		.theme--clark & {
			background: linear-gradient(-135deg, $clark-blue, $clark-green);
		}
	}

	@media screen and (min-width: 1660px){
		margin: -932px 0 0;
		height: 932px;
	}

	.mkt-featured__svg {
		position: absolute;
		width: 100%;
		height: 9.58vw;
		fill: #fff;
	}

	svg.mkt-featured__svg--top {
		top: 0;
	}

	svg.mkt-featured__svg--bottom {
		bottom: 0;
	}
	
	.mkt-featured__bg {
		width: 100%;
		height: 100%;
		background-image: url(../src/images/mid-bg-desktop.png);
		background-size: cover;
		background-position: center;

		.theme--trs & {
			background-image: url(../src/images/mid-bg-desktop-trs.png);
		}

		.theme--clark & {
			background-image: url(../src/images/mid-bg-desktop-clark.png);
		}
	}
}

.mkt-article {
	width: 100%;
	margin: 0 0 20px;

	@media screen and (min-width: 946px){
		margin: 0 0 40px;
	}

	&:nth-last-child(1) {
		margin: 0;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.mkt-article__card {
	position: relative;
	z-index: 3;
	padding: 40px 40px 30px;
	margin: 0;
	width: 100%;
	max-width: none;
	border-radius: 0 0 4px 4px;
	background: #fff;
	box-shadow:  0 8px 20px rgba(0,0,0,0.17);

	@media screen and (min-width: 946px){
		padding: 50px 40px 40px;
		margin: -334px 0 0;
		width: 660px;
		border-radius: 4px;
	}

	@media screen and (min-width: 1660px){
		margin: -373px 0 0;
	}

	&.mkt-article__card--right {
		float: right;
	}

	&.mkt-article__card--left {
		float: left;
	}
}

.mkt-article__img {
	position: relative;
	overflow: hidden;
	width: 100%;
	border-radius: 4px 4px 0 0;
	box-shadow:  0 8px 20px rgba(0,0,0,0.17);

	@media screen and (min-width: 946px){
		width: 860px;
	}

	@media screen and (min-width: 1660px){
		width: 100%;
		max-width: 1050px;
		border-radius: 4px;
	}

	img {
		width: 100%;
		margin: 0;
		display: block;
	}

	&.mkt-article__img--right {
		float: right;
	}

	&.mkt-article__img--left {
		float: left;
	}
}

.mkt-how {
	.mkt-card {
		padding: 0 30px 35px;
		@media screen and (min-width: 946px){
			padding: 0 30px;
			box-shadow:  none;
		}

		&:first-child {
			margin-left: 0;
		}
	
		&:last-child {
			margin-right: 0;
			padding-bottom: 0;
			border: 0;
		}
	}

	.mkt-how__arrow {
		display:none;

		@media screen and (min-width: 946px){
			display: inline-block;
			font-size: 48px;
			color: #9D9E9D;
		}
	}
}

.mkt-faq {
	@media (min-width: 946px) {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}

	.mkt-card {
		padding: 40px 40px 35px;
		margin-top: 20px;
		text-align: left;
		border-radius: 4px;
		border-bottom: none;
		box-shadow:  0 8px 20px rgba(0,0,0,0.17);

		@media screen and (min-width: 946px){
			margin: 0;
		}

		&:first-child {
			margin-left: 0;
		}
	
		&:last-child {
			margin-right: 0;
			margin-bottom: 0;
		}

		.mkt-title {
			line-height: 1.4;
			padding: 0;
	
			@media screen and (min-width: 946px){
				padding: 0;
			}
		}

		.mkt-copy {
			padding: 0;
		}
	}
}

.mkt-about {
	.mkt-copy {
		margin: 35px 0 60px;
	}

	@media screen and (min-width: 946px){
		margin: 35px 0 90px;
	}
}

.mkt-footer-container {
	position: relative;
	margin-bottom: -30px;
	padding-bottom: 100px;
}

.mkt-footer {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(-135deg, $web-green, $web-blue);

	.theme--trs & {
		background: linear-gradient(-135deg, $trs-light-green, $trs-dark-green);
	}

	.theme--clark & {
		background: linear-gradient(-135deg, $clark-blue, $clark-green);
	}

	.mkt-footer__svg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 10.2vw;
		fill: #fff;
	}

	.mkt-footer__bg {
		width: 100%;
		height: 100%;
		background-image: url(../src/images/footer-bg-desktop.png);
		background-size: cover;
		background-position: center;

		.theme--trs & {
			background-image: url(../src/images/footer-bg-desktop-trs.png);
		}

		.theme--clark & {
			background-image: url(../src/images/footer-bg-desktop-clark.png);
		}
	}
}

.mkt-form {
	padding: 60px 30px;
	margin: 0 auto;
	background: #fff;
	border-radius: 4px;
	box-shadow:  0 8px 20px rgba(0,0,0,0.17);

	@media screen and (min-width: 946px){
		padding: 110px 212px;
	}
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.application__header {
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}

.application__form {
  font-size: 14px;
  margin-top: 20px;
}

.application__section {
  display: grid;
  grid-column-gap: 30px;

  &:not(:first-child) {
    margin-top: 50px;
  }

  &--inputs {
    grid-template-columns: repeat(2, 1fr);
  }

  &--checkboxes {
    grid-template-columns: repeat(3, 1fr);
  }
}

.application__section-heading {
  grid-column: 1 / 4;
}

.application__section-title {
  font-weight: 400;
  margin: 0;
  font-size: 20px;
  display: inline;
}

.application__section-subtitle {
  font-style: italic;
  line-height: 20px;
  margin-left: 20px;
}

.application__form-container {
  margin-bottom: 20px;
  position: relative;

  &--textarea {
    grid-column: 1 / -1;
  }
}

.application__form-error {
  color: red;
  font-size: 12px;
  margin: 5px 0;
}

.application__label {
  margin-bottom: 5px;
  display: block;
}

.application__input-container {
  position: relative;
}

.application__input {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid lightgray;
  border-radius: 4px;
  background: none;
  width: 100%;
  display: block;
  outline: none;
  padding: 10px 15px;
  font-size: 14px;
  height: 39px;

  + .application__input {
    margin-top: 10px;
  }

  &--textarea {
    height: initial;
    resize: vertical;
    min-height: 39px;
  }
}

.application__input-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 18px;
}

.application__input-action {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 5px 10px;
  color: gray;
  cursor: pointer;
}

.application__check-container {
  display: grid;
  grid-template-columns: 0fr 1fr;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}

.application__check-input {
  display: none;

  &:checked ~ .application__check i {
    opacity: 1;
  }
}

.application__check {
  width: 25px;
  height: 25px;
  border: 2px solid lightgray;
  position: relative;
  display: inline-block;
}

.application__check-icon {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: darken(lightgray, 10%);
  opacity: 0;
  transition: .2s;
}

.application__check-label {
  margin-left: 10px;
}

.application__file .application__input-icon {
  font-size: 12px;
}

.application__file-input {
  display: none;
}

.application__file-placeholder {
  font-size: 12px;
  color: gray;
}

.application__submit {
  background: linear-gradient(to bottom, rgb(63, 171, 47), rgb(43, 169, 108));
  appearance: none;
  -webkit-appearance: none;
  padding: 12px 30px;
  color: white;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(black, .2);
}